<header>
  <div class="breadcrumb">
    You are here: <lo-outlet name="breadcrumb"></lo-outlet>
  </div>
  <a [routerLink]="['/']">← Back to Home</a>
</header>
<main>
  <aside id="left" *loZone="hasLeftContent">
    <h2>Left</h2>
    <lo-outlet name="left"></lo-outlet>
  </aside>
  <section id="center">
    <h2>Center</h2>
    <lo-outlet name="center"></lo-outlet>
    <section id="change" class="{{color}}">
      <button role="button" (click)="toggleColor()">{{color}}</button>
      <br>
      <lo-outlet [name]="color"></lo-outlet>
    </section>
  </section>
</main>
<router-outlet></router-outlet>
